.partner-root {
  padding: 0 120px;
  margin: 60px 0;
}

.partner-root .logo-partner {
  filter: gray;
  -webkit-filter: grayscale(100%);
  margin: 60px;
}

.partner-root .logo-partner:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

.partner-root .logo-partner.alfa {
  width: 142.77px;
  height: 142.77px;
}

.partner-root .logo-partner.ambarukmo {
  width: 199.15px;
  height: 99.12px;
}

.partner-root .logo-partner.kobis {
  width: 127.31px;
  height: 126.4px;
}

.partner-root .logo-partner.hakata {
  width: 142.77px;
  height: 142.77px;
  border: 1px solid #000000;
  box-sizing: border-box;
  filter: gray;
  -webkit-filter: grayscale(100%);
}

.partner-root .logo-partner.hakata:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: grayscale(0);
}