.footer-root {
  padding: 62px 120px 72px 120px;
  background: linear-gradient(180deg, rgba(223, 244, 255, 0) 0%, #DFF4FF 100%);
}

.footer-root .icon-googleplay {
  width: 159.03px;
  height: 48px;
  margin-top: 20px;
}

.footer-root .icon-appstore {
  width: 161.26px;
  height: 48px;
  margin-left: 24.25px;
  margin-top: 20px;
}

.footer-root p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.footer-root p.subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 17px;
}