* {
  font-family: "SF Compact Display";
}

p {
  margin: 0;
}

p.blue {
  color: #00A3F4;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.root {
  background-color: #FFFFFF;
}

.a-button-full {
  width: 192px;
  padding: 14px 34px;
  height: 48px;
  color: #ffffff;
  background: #00A3F4;
  box-shadow: 0px 20px 30px -15px rgba(0, 163, 244, 0.7);
  border-radius: 100px;
}

.a-button-outline {
  width: 192px;
  height: 48px;
  padding: 14px 34px;
  color: #00A3F4;
  background: #FFFFFF;
  border: 1px solid #00A3F4;
  box-sizing: border-box;
  border-radius: 100px;
}

.logo-damogo {
  width: 113px;
}

.container-heading {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 12px 0;
}

.container-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  margin: 12px 0;
}