* {
  font-family: "SF Compact Display";
}

.root {
  background-color: #FFFFFF;
}

.a-button-full {
  width: 192px;
  padding: 14px 34px;
  height: 48px;
  color: #ffffff;
  background: #00A3F4;
  box-shadow: 0px 20px 30px -15px rgba(0, 163, 244, 0.7);
  border-radius: 100px;
}

.a-button-outline {
  width: 192px;
  height: 48px;
  padding: 14px 34px;
  color: #00A3F4;
  background: #FFFFFF;
  border: 1px solid #00A3F4;
  box-sizing: border-box;
  border-radius: 100px;
}